.app {
    width: 100%;
    height: 100%;
    background-color: gray;
}

.row {
    display: flex;
    /* justify-content: space-around; */
}

.cell {
    margin: 2px;
    flex: 1 0 auto;
    /* height: auto; */
    background-color: green;
    position: relative;
}

.cell:before {
    content:'';
    float:left;
    padding-top:100%;
}

.clickable {
    cursor: pointer;
}

.bug {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    background-color: red;
}

.eye {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: blue;
}