<html>
<head>
    <meta charset="utf-8">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
    <div class="center-content">
        <div class="square">
            <div id="app" class="app">
                <div v-if="state == 'initial'" class="center-content">
                    <div class="column">
                        <div>Hide the bug!</div>
                        <button v-on:click="run" ref="startButton" class="button">Start</button>
                    </div>
                </div>
                <div v-if="state == 'run'">
                    <div v-for="(_, y) in size" class="row">
                        <div v-for="(_, x) in size" class="cell" v-on:click="cellClick(x, y)"
                            v-bind:class="{ clickable : clickableCell(x, y) }">
                            <div v-if="bugX == x && bugY == y" class="bug"></div>
                            <div v-for="eye in eyesInCell(x, y)" class="eye"
                                v-bind:style="{opacity: eyeOpacity(eye)}"></div>
                        </div>
                    </div>
                </div>
                <div v-if="state == 'over'" class="center-content">
                    <div class="column">
                        <div>Your Score: {{ score }}</div>
                        <button v-on:click="run" ref="tryAgain" class="button">Play Again</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                state: "initial",
                size: 2,
                bugX: 0,
                bugY: 0,
                eyes: [],
                elapsedTime: 0,
            },
            computed: {
                score: function () {
                    return Math.floor(this.elapsedTime * 10);
                }
            },
            watch: {
                state: function (val) {
                    if (val == "run") {
                        this.bugX = Math.floor(this.size / 2);
                        this.bugY = Math.floor(this.size / 2);
                        this.eyes = [];
                        
                        const startTime = Date.now();
                        const interval = setInterval(() => {
                            this.elapsedTime = (Date.now() - startTime) / 1000;

                            if (this.eyes.length < this.size * this.size - 1) {
                                if (Math.floor(this.elapsedTime / 5) >= this.eyes.length) {
                                    const freeCell = this.randomCellWihoutEye();
                                    this.eyes.push(createEye(
                                        freeCell.x,
                                        freeCell.y,
                                        this.eyes.length == 0 ? 0 : this.eyes[0].power
                                    ));
                                }
                            }

                            shuffle(this.eyes);
                            for (const eye of this.eyes) {
                                const newPower = eye.power + eye.powerStep;
                                eye.power = newPower > eye.maxPower ? 0 : newPower;
                                if (eye.power == 0) {
                                    const freeCell = this.randomCellWihoutEye();
                                    eye.x = freeCell.x;
                                    eye.y = freeCell.y;
                                }
                                
                                if (this.sawBug(eye)) {
                                    clearInterval(interval);
                                    this.state = "over";
                                    return;
                                }
                            }
                        }, 50);
                    } else if (val == "over") {
                        this.$nextTick(() => this.$refs.tryAgain.focus());
                    }

                    function createEye(x, y, power) {
                        const maxPower = 15;
                        return {
                            x,
                            y,
                            maxPower, 
                            power: Math.min(power, maxPower),
                            powerStep: 1,
                        }
                    }
                }
            },
            methods: {
                run: function () {
                    this.state = "run";
                },
                randomCellWihoutEye: function () {
                    const freeCells = [];
                    for (let x = 0; x < this.size; x++) {
                        for (let y = 0; y < this.size; y++) {
                            let free = true;
                            for (const eye of this.eyes) {
                                if (x == eye.x && y == eye.y) {
                                    free = false;
                                    break;
                                }
                            }
                            if (free) {
                                freeCells.push({ x, y });
                            }
                        }
                    }
                    const length = freeCells.length;
                    return length == 0 ? null : freeCells[randomInt(length)];
                },
                eyesInCell: function (x, y) {
                    return this.eyes.filter(function (eye) {
                        return eye.x == x && eye.y == y;
                    });
                },
                clickableCell: function (x, y) {
                    const deltaX = x - this.bugX;
                    const deltaY = y - this.bugY;
                    if (deltaX == 0 && deltaY == 0) {
                        return false;
                    }
                    const absX = Math.abs(deltaX);
                    const absY = Math.abs(deltaY);
                    return !(absX > 1 || absY > 1);
                },
                cellClick: function (x, y) {
                    if (this.clickableCell(x, y)) {
                        this.bugX = x;
                        this.bugY = y;
                    }
                },
                move: function (direction) {
                    if (direction == "left") {
                        if (this.bugX > 0) {
                            this.bugX--;
                        }
                    } else if (direction == "right") {
                        if (this.bugX < this.size - 1) {
                            this.bugX++;
                        }
                    } else if (direction == "up") {
                        if (this.bugY > 0) {
                            this.bugY--;
                        }
                    } else if (direction == "down") {
                        if (this.bugY < this.size - 1) {
                            this.bugY++;
                        }
                    }
                },
                sawBug: function (eye) {
                    return this.bugX == eye.x && this.bugY == eye.y 
                        && eye.power == eye.maxPower;
                },
                eyeOpacity: function (eye) {
                    const norm = eye.power * (1 / eye.maxPower);
                    return norm;
                }
            },
            mounted: function () {
                this.$refs.startButton.focus();

                document.addEventListener("keyup", keyupHandler);

                function keyupHandler(e) {
                    if (e.keyCode == 37) {
                        app.move("left");
                    } else if (e.keyCode == 38) {
                        app.move("up");
                    } else if (e.keyCode == 39) {
                        app.move("right");
                    } else if (e.keyCode == 40) {
                        app.move("down");
                    }
                }
            }
        });

        function randomInt(max) {
            return Math.floor(Math.random() * Math.floor(max));
        }

        function shuffle(a) {
            for (let i = a.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [a[i], a[j]] = [a[j], a[i]];
            }
            return a;
        }
    </script>
</body>
</html>
