<html>
<head>
    <meta charset="utf-8">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
    <div class="center-content">
        <div class="square">
            <div id="app" class="app">
                <div v-if="state == 'initial'" class="center-content">
                    <div class="column">
                        <div>Hide the bug!</div>
                        <button v-on:click="run" ref="startButton" class="button">Start</button>
                    </div>
                </div>
                <div v-if="state == 'run'" class="board">
                    <div v-for="(_, y) in size" class="row">
                        <div v-for="(_, x) in size" class="cell" v-on:click="cellClick(x, y)"
                            v-bind:class="{ clickable : clickableCell(x, y) }">
                            <div v-if="bugX == x && bugY == y" class="bug"></div>
                            <div v-for="eye in eyesInCell(x, y)" class="eye"
                                v-bind:style="{opacity: eyeOpacity()}"></div>
                        </div>
                    </div>
                </div>
                <div v-if="state == 'over'" class="center-content">
                    <div class="column">
                        <div>DETECTED</div>
                        <div>Your time: {{ timeString }}</div>
                        <div>Your best time: {{ bestTimeString }}</div>
                        <button v-on:click="run" ref="tryAgain" class="button">Play Again</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        const params = parseParams(window.location.href);
        
        const levelTime = 3;

        const maxPower = 20;

        const minSize = 2;
        const defaultSize = 3;
        const size = Math.max(minSize, parseInt(params["size"]) || defaultSize);

        const app = new Vue({
            el: '#app',
            data: {
                state: "initial",
                size,
                bugX: 0,
                bugY: 0,
                eyes: [],
                elapsedTime: 0,
                bestTime: 0,
                power: 0,
                maxPower,
            },
            computed: {
                timeString: function () {
                    return this.timeToString(this.elapsedTime);
                },
                bestTimeString: function () {
                    return this.timeToString(this.bestTime);
                }
            },
            watch: {
                state: function (val) {
                    if (val == "run") {
                        this.bugX = Math.floor(this.size / 2);
                        this.bugY = Math.floor(this.size / 2);
                        this.eyes = [];
                        
                        const startTime = Date.now();
                        const interval = setInterval(() => {
                            this.elapsedTime = (Date.now() - startTime) / 1000;

                            let itIsaddTime = false;
                            const freeCellAvailable = this.eyes.length < this.size * this.size - 1;
                            if (freeCellAvailable) {
                                const level = Math.floor(this.elapsedTime / levelTime);
                                if (level >= this.eyes.length) {
                                    itIsaddTime = true;
                                }
                            }

                            const newPower = this.power + 1;
                            this.power = newPower > this.maxPower ? 0 : newPower;
                            const itIsmoveTime = this.power == 0; 
                            if (itIsmoveTime) {
                                if (itIsaddTime) {
                                    const freeCell = this.randomCellWihoutEye();
                                    this.eyes.push({
                                        x: freeCell.x,
                                        y: freeCell.y,
                                    });
                                }
                                shuffle(this.eyes);
                            }
                            const itIscheckTime = this.power == this.maxPower;
                            if (itIsmoveTime || itIscheckTime) {
                                for (const eye of this.eyes) {
                                    if (itIsmoveTime) {
                                        const freeCell = this.randomCellWihoutEye();
                                        eye.x = freeCell.x;
                                        eye.y = freeCell.y;
                                    } else if (itIscheckTime) {
                                        if (this.bugX == eye.x && this.bugY == eye.y) {
                                            if (this.elapsedTime > this.bestTime) {
                                                this.bestTime = this.elapsedTime;
                                            }
                                            clearInterval(interval);
                                            this.state = "over";
                                            return;
                                        }
                                    }
                                }
                            }
                        }, 50);
                    } else if (val == "over") {
                        this.$nextTick(() => this.$refs.tryAgain.focus());
                    }
                }
            },
            methods: {
                timeToString: function (time) {
                    return time.toFixed(1) + "s";
                },
                run: function () {
                    this.state = "run";
                },
                randomCellWihoutEye: function () {
                    const freeCells = [];
                    for (let x = 0; x < this.size; x++) {
                        for (let y = 0; y < this.size; y++) {
                            let free = true;
                            for (const eye of this.eyes) {
                                if (x == eye.x && y == eye.y) {
                                    free = false;
                                    break;
                                }
                            }
                            if (free) {
                                freeCells.push({ x, y });
                            }
                        }
                    }
                    const length = freeCells.length;
                    return length == 0 ? null : freeCells[randomInt(length)];
                },
                eyesInCell: function (x, y) {
                    return this.eyes.filter(function (eye) {
                        return eye.x == x && eye.y == y;
                    });
                },
                clickableCell: function (x, y) {
                    return !(this.bugX == x && this.bugY == y);
                },
                cellClick: function (x, y) {
                    if (this.clickableCell(x, y)) {
                        this.bugX = x;
                        this.bugY = y;
                    }
                },
                move: function (direction) {
                    if (direction == "left") {
                        if (this.bugX > 0) {
                            this.bugX--;
                        }
                    } else if (direction == "right") {
                        if (this.bugX < this.size - 1) {
                            this.bugX++;
                        }
                    } else if (direction == "up") {
                        if (this.bugY > 0) {
                            this.bugY--;
                        }
                    } else if (direction == "down") {
                        if (this.bugY < this.size - 1) {
                            this.bugY++;
                        }
                    }
                },
                eyeOpacity: function () {
                    const norm = this.power * (1 / this.maxPower);
                    return norm;
                }
            },
            mounted: function () {
                this.$refs.startButton.focus();

                document.addEventListener("keyup", keyupHandler);

                function keyupHandler(e) {
                    if (e.keyCode == 37) {
                        app.move("left");
                    } else if (e.keyCode == 38) {
                        app.move("up");
                    } else if (e.keyCode == 39) {
                        app.move("right");
                    } else if (e.keyCode == 40) {
                        app.move("down");
                    }
                }
            }
        });

        function randomInt(max) {
            return Math.floor(Math.random() * Math.floor(max));
        }

        function shuffle(a) {
            for (let i = a.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [a[i], a[j]] = [a[j], a[i]];
            }
            return a;
        }

        function parseParams(href) {
            const noHash = href.split('#')[0];
            const paramString = noHash.split('?')[1];
            const params = {};
            if (paramString) {
                const paramsArray = paramString.split('&');
                for (const kv of paramsArray) {
                    const tmparr = kv.split('=');
                    params[tmparr[0]] = tmparr[1];
                }
            }
            return params;
        }
    </script>
</body>
</html>
